In [1]:
import pandas as pd
import numpy as np
data=pd.read_excel("Copy of 500_MT_BERT_Preds _ Accuracy Analysis.xlsx",sheet_name="Tech_String_match")

In [2]:
data.head()

,id,summaries,exact_matched_patt_contextual,string_match_prediction,Tech_Label,TP,TP_entries_TECH,FP,FP_entries_TECH,FP corrected,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,-1zMVjZsVTSaqEUPGqaTqA_0000,i have a masters degree in computational finan...,['java'],['accenture'],[],0.0,[],1.0,NaN,['accenture'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0BEpuKXd00LyMNQDgcqUZw_0000,i am a strategic hr leader with single and mul...,['courion'],['courion'],['courion'],1.0,['courion'],0.0,[],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0f9VnfZFwZiyd30xGBK9Ig_0000,multitalented creative marketing and design pr...,['adobe'],['adobe photoshop'],[],0.0,[],1.0,NaN,['adobe photoshop'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0GTKKIK9kj-FVYLEkrqqcA_0000,it professional with an overall 16 years of te...,['wipro'],['wipro'],['wipro'],1.0,['wipro'],0.0,[],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0iMM991ETr11zJf6ABimew_0000,an innovative resultdriven leader with a prove...,['paypal'],['paypal'],['paypal'],1.0,['paypal'],0.0,[],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data=data[['id','summaries','exact_matched_patt_contextual','string_match_prediction','Tech_Label','TP_entries_TECH','FP_entries_TECH','FN_entries_TECH','FP corrected']]

data=data.loc[:499]

In [4]:
data.head()

,id,summaries,exact_matched_patt_contextual,string_match_prediction,Tech_Label,TP_entries_TECH,FP_entries_TECH,FN_entries_TECH,FP corrected
0,-1zMVjZsVTSaqEUPGqaTqA_0000,i have a masters degree in computational finan...,['java'],['accenture'],[],[],NaN,[],['accenture']
1,0BEpuKXd00LyMNQDgcqUZw_0000,i am a strategic hr leader with single and mul...,['courion'],['courion'],['courion'],['courion'],[],[],NaN
2,0f9VnfZFwZiyd30xGBK9Ig_0000,multitalented creative marketing and design pr...,['adobe'],['adobe photoshop'],[],[],NaN,[],['adobe photoshop']
3,0GTKKIK9kj-FVYLEkrqqcA_0000,it professional with an overall 16 years of te...,['wipro'],['wipro'],['wipro'],['wipro'],[],[],NaN
4,0iMM991ETr11zJf6ABimew_0000,an innovative resultdriven leader with a prove...,['paypal'],['paypal'],['paypal'],['paypal'],[],[],NaN

In [5]:
# for i, l in enumerate(data['FP_entries_eng'] ):
#     print("list",i,"is",type(l))

In [6]:
data['FP corrected'] = data['FP corrected'].fillna('[]')
data['FP_entries_TECH'] = data['FP_entries_TECH'].fillna('[]')
data['FP corrected'] = data['FP corrected'].apply(eval) 
data['TP_entries_TECH']= data['TP_entries_TECH'].apply(eval)
data['FP_entries_TECH']= data['FP_entries_TECH'].apply(eval)
data['FN_entries_TECH']= data['FN_entries_TECH'].apply(eval)
data['exact_matched_patt_contextual'] =data['exact_matched_patt_contextual'] .apply(eval)

In [7]:
data['TP_entries_TECH'].str.len().sum()

209

In [8]:
data['FP_entries_TECH'].str.len().sum()

78

In [9]:
#corrected fp will move in tp entry
def combine(lis1, lis2):
    return list(set(lis1 + lis2))

data['exact_matched_patt_contextual'] = data.apply(
    lambda x: combine(x['exact_matched_patt_contextual'], x["FP corrected"]), 
    axis = 1)
data['TP_entries_TECH'] = data.apply(
    lambda x: combine(x['TP_entries_TECH'], x["FP corrected"]), 
    axis = 1)

In [10]:
data['TP']=data['TP_entries_TECH'].str.len()
data['FP']=data['FP_entries_TECH'].str.len()
data['FN']=data['FN_entries_TECH'].str.len()

In [11]:
data['FP corrected'].str.len().sum()

15

In [12]:
data['TP_entries_TECH'].str.len().sum()

219

In [13]:
data['FP_entries_TECH'].str.len().sum()

78

In [14]:
data.drop(columns=['FP corrected'])

,id,summaries,exact_matched_patt_contextual,string_match_prediction,Tech_Label,TP_entries_TECH,FP_entries_TECH,FN_entries_TECH,TP,FP,FN
0,-1zMVjZsVTSaqEUPGqaTqA_0000,i have a masters degree in computational finan...,"[java, accenture]",['accenture'],[],[accenture],[],[],1,0,0
1,0BEpuKXd00LyMNQDgcqUZw_0000,i am a strategic hr leader with single and mul...,[courion],['courion'],['courion'],[courion],[],[],1,0,0
2,0f9VnfZFwZiyd30xGBK9Ig_0000,multitalented creative marketing and design pr...,"[adobe photoshop, adobe]",['adobe photoshop'],[],[adobe photoshop],[],[],1,0,0
3,0GTKKIK9kj-FVYLEkrqqcA_0000,it professional with an overall 16 years of te...,[wipro],['wipro'],['wipro'],[wipro],[],[],1,0,0
4,0iMM991ETr11zJf6ABimew_0000,an innovative resultdriven leader with a prove...,[paypal],['paypal'],['paypal'],[paypal],[],[],1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
495,zun1u5pEP6XGEgB8NnH5Cw_0000,after teaching at hogeschool rotterdam i found...,[adobe],[],[],[],[],[],0,0,0
496,zYOI4JmmTDiT023cU9g7XA_0000,having spent 8 months in 2011 working with dan...,[rsm],['rsm'],['rsm'],[rsm],[],[],1,0,0
497,ZzIyes8qbSx2AXxe4cSPlA_0000,after 15 years of successful sales and recruit...,[casa],['casa'],['casa'],[casa],[],[],1,0,0
498,NaN,experienced information technology professiona...,[teradata],"['teradata', 'microstrategy']",['teradata'],[teradata],[microstrategy],[],1,1,0
499,NaN,i am interested in making new connections and ...,[smaato],['smaato'],['smaato'],[smaato],[],[],1,0,0

In [15]:
def get_precision(tp,fp):
    
    if tp+fp ==0:
        precision = 0
    else:
        precision = tp/(tp+fp)
    
    return precision

def get_recall(tp,fn):
    
    if tp+fn ==0:
        recall = 0
    else:
        recall = tp/(tp+fn)
    
    return recall

def get_f_score(precision, recall):
    if precision+recall == 0:
        f_score = 0
    else:
        f_score = 2*(precision*recall)/(precision+recall)
        
    return f_score

data['Precision'] = data.apply(lambda x: get_precision(x["TP"], x["FP"]), axis = 1)

data["Recall"] = data.apply(lambda x: get_recall(x["TP"], x["FN"]), axis = 1)

data["f_score"] = data.apply(lambda x: get_f_score(x["Precision"], x["Recall"]), axis = 1)

In [16]:
data

,id,summaries,exact_matched_patt_contextual,string_match_prediction,Tech_Label,TP_entries_TECH,FP_entries_TECH,FN_entries_TECH,FP corrected,TP,FP,FN,Precision,Recall,f_score
0,-1zMVjZsVTSaqEUPGqaTqA_0000,i have a masters degree in computational finan...,"[java, accenture]",['accenture'],[],[accenture],[],[],[accenture],1,0,0,1.0,1.0,1.000000
1,0BEpuKXd00LyMNQDgcqUZw_0000,i am a strategic hr leader with single and mul...,[courion],['courion'],['courion'],[courion],[],[],[],1,0,0,1.0,1.0,1.000000
2,0f9VnfZFwZiyd30xGBK9Ig_0000,multitalented creative marketing and design pr...,"[adobe photoshop, adobe]",['adobe photoshop'],[],[adobe photoshop],[],[],[adobe photoshop],1,0,0,1.0,1.0,1.000000
3,0GTKKIK9kj-FVYLEkrqqcA_0000,it professional with an overall 16 years of te...,[wipro],['wipro'],['wipro'],[wipro],[],[],[],1,0,0,1.0,1.0,1.000000
4,0iMM991ETr11zJf6ABimew_0000,an innovative resultdriven leader with a prove...,[paypal],['paypal'],['paypal'],[paypal],[],[],[],1,0,0,1.0,1.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,zun1u5pEP6XGEgB8NnH5Cw_0000,after teaching at hogeschool rotterdam i found...,[adobe],[],[],[],[],[],[],0,0,0,0.0,0.0,0.000000
496,zYOI4JmmTDiT023cU9g7XA_0000,having spent 8 months in 2011 working with dan...,[rsm],['rsm'],['rsm'],[rsm],[],[],[],1,0,0,1.0,1.0,1.000000
497,ZzIyes8qbSx2AXxe4cSPlA_0000,after 15 years of successful sales and recruit...,[casa],['casa'],['casa'],[casa],[],[],[],1,0,0,1.0,1.0,1.000000
498,NaN,experienced information technology professiona...,[teradata],"['teradata', 'microstrategy']",['teradata'],[teradata],[microstrategy],[],[],1,1,0,0.5,1.0,0.666667
499,NaN,i am interested in making new connections and ...,[smaato],['smaato'],['smaato'],[smaato],[],[],[],1,0,0,1.0,1.0,1.000000

In [17]:
data.to_csv("BERT_TECH_500.csv")