In [1]:
# Importing the libraries here

import pandas as pd
import numpy as np
import ast
import json
from operator import add 
from operator import truediv
import re
# import swifter
from tqdm import tqdm

In [2]:
# reading the dataset
df_cm = pd.read_csv("Dataset/Output/Tagged - Sheet1.csv")
# df_cm = pd.read_csv("Dataset/Output/op_string/KMP_optimised_20k_profiles.csv")

In [3]:
# Let's see how the data looks like
df_cm.head()

,id,summaries,Technology,exact_matched_patt,Actual,Unnamed: 5,Unnamed: 6,Unnamed: 7,Actual(NER)
0,Dn4hgsVR5fA4BkRuFQijKA_0000,Experienced Assistant Manager with a demonstra...,"['Manage', 'eManage', 'Microsoft Excel', 'Micr...","['Manager', 'Microsoft Excel', 'Microsoft Word']","['Manager','Matlab','Microsoft Excel','Microso...",NaN,NaN,NaN,[]
1,F3KRzgtONdkcLHebtHacGg_0000,"psp reconciliation -monthly, weekly and daily ...",bob,[],NaN,NaN,NaN,NaN,[]
2,3MgG7hvahUvsBaMBRhcwTg_0000,Owner at CL Motorsports,C,[],CL Motorsports,NaN,NaN,NaN,[]
3,KfD3AOGALhGBm2gQhSDysg_0000,Additional General Manager at Surat Special Ec...,"['Manage', 'eManage', 'Manager']",['Manager'],Manager,NaN,NaN,NaN,[]
4,DjB2JIolndrvMoyz37yV7Q_0000,"Co-Owner at Longfellow Family, LLC",C,[],"Longfellow Family, LLC",NaN,NaN,NaN,"Longfellow Family, LLC"

In [4]:
# Converting dumped data into proper format i.e string into list

# Pass the matched technology column that we got
def convert_data_format(df,column_name):
    
    for i in range(0, len(df)):
        
        if df[column_name][i][0] == '[':
            res = ast.literal_eval(df[column_name][i])
            df[column_name][i] = res
            
        else:
            x = []
            x.insert(0, df[column_name][i])
            df[column_name][i] = x
            
    return df

In [5]:
df_cm = convert_data_format(df_cm, "exact_matched_patt")

<ipython-input-4-b23b3f954057>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name][i] = res

In [6]:
def convert_tagged_data_format(df,column_name):
    
    for i in range(0, len(df_cm)):
        print(i)
        
        if df[column_name][i] is not np.nan:
            
            if df[column_name][i][0] == '[':
                res = ast.literal_eval(df[column_name][i])
                df[column_name][i] = res
                
            else:
                y = []
                y.insert(0, df[column_name][i])
                df[column_name][i] = y
                
        else:
    
                y = []
                y.insert(0, df[column_name][i])
                df[column_name][i] = y
    return df

In [7]:
df_cm = convert_tagged_data_format(df_cm, "Actual")

<ipython-input-6-b1514a31c733>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name][i] = res
<ipython-input-6-b1514a31c733>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name][i] = y
<ipython-input-6-b1514a31c733>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column_name][i] = y

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124

In [8]:
# TP: present in both sheet i==j
# TN: not in both (insignificant)
# FP: in extracted sheet but not in manual tagging     i!=j
# FN: in manual tagging and is not in extracted tagging j

In [9]:
tp = []
tn = []
fp = []
fn = []

In [10]:
TP = TN = FP = FN = 0

In [11]:
# TP + FP calculation
# op_string = exact_matched_patt
# , manual_tagged_string = Actual/Actual(NER)

In [12]:
def get_TP(df,manual_tagged_string,op_string):
    
    for ind in df.index:
        TP = FP = 0
        
        for i in range(0, len(df[op_string][ind])):
            
            if df[op_string][ind][i] in df[manual_tagged_string][ind]:
                TP = TP + 1
                
            else:
                pass
                
        tp.append(TP)

    return tp

In [13]:
# import numpy as np
# list_1 = ["a", "b", "c", "d", "e"]
# list_2 = ["a", "f", "c", "m"] 
# # yields the elements in `list_2` that are NOT in `list_1`
# main_list = np.setdiff1d(list_2,list_1)
# yields the elements in `list_2` that are NOT in `list_1`



def get_FP(df,manual_tagged_string, op_string):
    
    for ind in df.index:
        main_list = np.setdiff1d(df[op_string][ind],df[manual_tagged_string][ind])
        fp.append(len(main_list))
        
    return fp

In [14]:
def get_FN(df,manual_tagged_string, op_string):
    
    for ind in df.index:
        
        main_list = np.setdiff1d(df[manual_tagged_string][ind], df[op_string][ind])
        fn.append(len(main_list))
        
    return fn

In [15]:
# function call
tp = get_TP(df_cm, "Actual", "exact_matched_patt")
fp = get_FP(df_cm, "Actual", "exact_matched_patt")
fn = get_FN(df_cm, "Actual", "exact_matched_patt")

/Users/shubhamsunwalka/Desktop/tech_match/lib/python3.9/site-packages/numpy/lib/arraysetops.py:579: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask &= (ar1 != a)

In [16]:
print(len(tp), len(fp), len(fn))

125 125 125

In [17]:
# creating a dataframe
df_matrix = pd.DataFrame(list(zip(tp, fp, fn)), 
               columns =['TP', 'FP', "FN"])
df_matrix.head(-1)

     TP  FP  FN
0     3   0   1
1     0   0   1
2     0   0   1
3     1   0   0
4     0   0   1
..   ..  ..  ..
119   1   0   0
120   0   0   1
121   0   0   2
122   0   0   1
123   0   0   1

[124 rows x 3 columns]

In [18]:
def get_precision(tp,fp):
    
    if tp+fp ==0:
        precision = 0
    else:
        precision = tp/(tp+fp)
    
    return precision

In [19]:
def get_recall(tp,fn):
    
    if tp+fn ==0:
        recall = 0
    else:
        recall = tp/(tp+fn)
    
    return recall

In [20]:
df_matrix['Precision'] = df_matrix.apply(lambda x: get_precision(x["TP"], x["FP"]), axis = 1)

In [21]:
df_matrix["Recall"] = df_matrix.apply(lambda x: get_recall(x["TP"], x["FN"]), axis = 1)

In [22]:
df_matrix.head()

   TP  FP  FN  Precision  Recall
0   3   0   1        1.0    0.75
1   0   0   1        0.0    0.00
2   0   0   1        0.0    0.00
3   1   0   0        1.0    1.00
4   0   0   1        0.0    0.00

In [23]:
df_matrix.to_csv("Accuracy_Sheet_on_tagged_data_string_match.csv", index = False)