In [1]:
import numpy as np
import pandas as pd

In [2]:
summary = pd.read_csv("tech_sort1k.csv")
summary.head()

,id,exact_matched_patt_contextual,summaries,Note
0,zsDSYc5UzpyXekOABZBfnQ_0000,NaN,senior director of clinical services housing a...,NaN
1,zs1YNrrCeorFkGLEXSSp-A_0000,NaN,i believe that passions are meant to be shared...,NaN
2,zowirq8ZhxhchApaRMhNSA_0000,NaN,bill bryant is founder and chairman of bryant ...,NaN
3,zoQVkPCfXB9n3AaPGHHwzg_0000,NaN,undertaking a trilingual masters degree in eur...,NaN
4,zmIr2glBZ3Ef8CSS0jw1og_0000,NaN,career objective a role within marketing and n...,NaN

In [3]:
tech = pd.read_csv("Tech_pydictionary_2.csv")

In [4]:
tech=tech.iloc[:,1:2]
tech.head()

           Tech_word
0        WorkflowMax
1           InGenius
2            DealHub
3              Ebsta
4  Repsly Mobile CRM

In [5]:
tech['Tech_word'] = tech['Tech_word'].astype(str)
all_tech_words = list(tech['Tech_word'].str.lower())
summary["summaries"]=summary["summaries"].astype(str)
all_strings = list(summary["summaries"].str.lower())

In [6]:
len(all_tech_words),len(all_strings)

(24057, 1001)

In [7]:
import time
start_time = time.time() # write this at starting of code block where search happens

In [8]:
i=1
tech_keys=[]
for item in all_strings:
#     print("***","TEST No,",i,"***")
    i=i+1
    tech_row=[]
    for k in all_tech_words:
        if k in item and len(k)>2:
           tech_row.append(k)
    tech_keys.append(tech_row)
end = time.time()-start_time # where search ends
print(end)

30.362453937530518

In [9]:
summary['keywords']=tech_keys
summary.head()

,id,exact_matched_patt_contextual,summaries,Note,keywords
0,zsDSYc5UzpyXekOABZBfnQ_0000,NaN,senior director of clinical services housing a...,NaN,"[ora, alis, and co, staf, soci, ning, flo, voc..."
1,zs1YNrrCeorFkGLEXSSp-A_0000,NaN,i believe that passions are meant to be shared...,NaN,"[xperience, ora, alis, and co, continu, eyo, o..."
2,zowirq8ZhxhchApaRMhNSA_0000,NaN,bill bryant is founder and chairman of bryant ...,NaN,"[chai, nis]"
3,zoQVkPCfXB9n3AaPGHHwzg_0000,NaN,undertaking a trilingual masters degree in eur...,NaN,"[xperience, lisa, alis, and co, que, emplo, en..."
4,zmIr2glBZ3Ef8CSS0jw1og_0000,NaN,career objective a role within marketing and n...,NaN,"[tanda, xperience, accounts, ami, ora, and co,..."

In [10]:
import re
def reg_match(txt, keyw):
    sep='|'
    temp = sep.join(['\\b' + i+'\\b' for i in keyw])
    matches = re.findall(temp,txt)
    return matches

In [11]:
summary['string_matched'] = summary.apply(lambda x: reg_match(x["summaries"], x["keywords"]), axis = 1)

In [12]:
summary.head(15)

,id,exact_matched_patt_contextual,summaries,Note,keywords,string_matched
0,zsDSYc5UzpyXekOABZBfnQ_0000,NaN,senior director of clinical services housing a...,NaN,"[ora, alis, and co, staf, soci, ning, flo, voc...",[]
1,zs1YNrrCeorFkGLEXSSp-A_0000,NaN,i believe that passions are meant to be shared...,NaN,"[xperience, ora, alis, and co, continu, eyo, o...",[]
2,zowirq8ZhxhchApaRMhNSA_0000,NaN,bill bryant is founder and chairman of bryant ...,NaN,"[chai, nis]",[]
3,zoQVkPCfXB9n3AaPGHHwzg_0000,NaN,undertaking a trilingual masters degree in eur...,NaN,"[xperience, lisa, alis, and co, que, emplo, en...",[]
4,zmIr2glBZ3Ef8CSS0jw1og_0000,NaN,career objective a role within marketing and n...,NaN,"[tanda, xperience, accounts, ami, ora, and co,...","[accounts, accounts, accounts, accounts]"
5,zlqc-BC1ZHf1EqoAGZ3sag_0000,NaN,an it professional with over 14+ years of exte...,NaN,"[xperience, mcs, ress, omp, imm, nis]",[]
6,zlBvzxx47BewWlO67-zK3Q_0000,['republic'],i am a 19 year old entrepreneur and manager of...,NaN,"[and co, countr, ning, omp, inv, ntent]",[]
7,zekuTL0ONYTX2XawUBa-9A_0000,['dell'],i am a self motivated professional with 13+ ye...,NaN,"[xperience, ento, ora, orat, emplo, mploy, inv...",[]
8,zaByWGsar5hVdBWLEYykcg_0000,"['wordpress', 'joomla', 'drupal']",as owner and director of projects at metro inf...,NaN,"[amo, informa, and co, grapher, scala, esign, ...","[joomla, wordpress, drupal, joomla, wordpress,..."
9,zPnnWGWHb2gSYnd98GKaag_0000,['unity'],15+ years within the recruiting industry combi...,NaN,"[ento, que, perf, pris, capabiliti, combin, ni...",[]
10,zD5mmVohG-Ts4D2pdhZ9hg_0000,NaN,i am actively looking for university/campus or...,NaN,"[xperience, informa, nect, nex, pris, ress, ob...",[]
11,z78yDBFPYVMWHbWiqBpLwQ_0000,NaN,"physician leader, writer and life-long learner...",NaN,"[ami, ora, nect, and co, riter, orat, rform, p...",[]
12,z5LcE0BcZevf5WmwL8nunQ_0000,"['microsoft office', 'juniper', 'workday', 'py...","bachelor of science (b.s) degree in "" telecomm...",NaN,"[eploy, xperience, informa, alis, nex, ava, ni...",[microsoft office]
13,z288V6JX6prFckah8qxepA_0000,"['sap erp', 'xero']","a high performing individual, demonstrating dr...",NaN,"[tanda, xperience, accounts, evie, sap erp, em...","[xero, xero, sap erp, accounts, accounts]"
14,z0rBpYyvaPpzHAMgFueyZg_0000,NaN,experienced and technologically-savvy communic...,NaN,"[xperience, and co, xpand, riter, ava, trac, e...",[]

In [13]:
export_data = summary[['id','summaries','exact_matched_patt_contextual','string_matched']]

In [14]:
# export_data.to_csv('export.csv')